html {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

iframe,
p,
span,
pre,
ul,
ol,
blockquote,
table,
input {
  margin: 5px 0;
}

ul,
ol {
  padding-left: 20px;
}

hr {
  margin: 0 -10px;
}

h1 {
  margin: 0 -10px;
  background-color: #ffbbff;
  font-size: 1.3rem;
  padding-left: 8px;
  font-weight: bold;
}

h2 {
  margin: 0 -10px;
  background-color: #ffffbb;
  font-size: 1.2rem;
  padding-left: 12px;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  background: #b0d4e5;
}

th,
td {
  padding: 0 0.5rem;
  border: 1px solid black;
}

body {
  margin: auto;
  max-width: 1024px;
  min-width: 400px;
  background-color: #ccffff;
}

#container {
  padding: 0 10px;
  background-color: white;
}

strong {
  color: red;
}

input[type="button"] {
  margin: 10px;
  padding: 0 5px;
  color: #ff00ff;
  background-color: #ffddff;
  border: 3px solid #ff88ff;
  border-radius: 10px;
  font-weight: bold;
}
