@charset "UTF-8";

html {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

body {
  min-width: 400px;
  max-width: 1024px;
  margin: 0 auto;
  background-color: #ccffff;
}

#contents {
  padding: 0;
  background-color: white;
}

.inner {
  margin: 10px;
}

input {
  margin: 5px 0;
}

ul,
ol {
  padding-left: 20px;
}

hr {
  margin: 0;
}

h1 {
  padding-left: 8px;
  margin: 0;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: #ffbbff;
}

h2 {
  padding-left: 12px;
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #ffffbb;
}

h3 {
  padding-left: 12px;
  margin: 0;
  font-size: 1.2rem;
  font-weight: normal;
  background-color: #bbffbb;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

th {
  background: #b0d4e5;
}

th,
td {
  padding: 0 0.5rem;
  border: 1px solid black;
}

strong {
  color: red;
}

button {
  padding: 5px 10px;
  margin: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #338833;
  background-color: #ddffdd;
  border: 3px solid #338833;
  border-radius: 15px;
}

#siteswap {
  font-size: 1.2rem;
}
